@model IEnumerable<AmlaMarketPlace.Models.DTO.MyOrdersDto>

@{
    ViewData["Title"] = "MyOrderRequests";
    int SrNo = 1;
}

<div class="container">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order History</h6>
    </div>

    @if (Model == null || !Model.Any())
    {
        <div class="m-4 d-flex justify-content-center">
            <span>You have not ordered anything.</span>
        </div>
    }
    else
    {
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>@Html.DisplayNameFor(model => model.SellerName)</th>
                    <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                    <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                    <th>@Html.DisplayNameFor(model => model.OrderTime)</th>
                    <th>@Html.DisplayNameFor(model => model.IsApproved)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@SrNo</td>
                        <td>@Html.DisplayFor(modelItem => item.SellerName)</td>
                        <td class="text-center">
                            <a title="View Product" class="text-truncate" asp-route-id="@item.ProductId" asp-controller="Product" asp-action="ProductDetails" style="display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderTime)</td>
                        <td>
                            @if (item.IsApproved == 0)
                            {
                                <span class="badge bg-warning text-dark">Pending</span>
                            }
                            else if (item.IsApproved == 1)
                            {
                                <span class="badge bg-success text-white">Settled</span>
                            }
                            else if (item.IsApproved == 2)
                            {
                                <a href="javascript:void(0);"
                                   class="badge bg-danger text-white"
                                   data-bs-toggle="modal"
                                   data-bs-target="#rejectModal-@item.OrderId">
                                    Rejected
                                </a>
                                <div class="modal fade" id="rejectModal-@item.OrderId" tabindex="-1" aria-labelledby="rejectModalLabel-@item.OrderId" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="rejectModalLabel-@item.OrderId">Rejection Comment</h5>
                                                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">X</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>@Html.DisplayFor(modelItem => item.RejectComment)</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                    SrNo++;
                }
            </tbody>
        </table>
    }
</div>
