@model IEnumerable<AmlaMarketPlace.Models.DTO.ProductDTO>

@{
    ViewData["Title"] = "User Products";
    int SrNo = 1;
}

<!-- Begin Page Content -->
<!-- Page Heading -->
<div class="mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Your Products</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if (Model == null || !Model.Any()) // Check if the list is empty
            {
                <div class="m-4 d-flex justify-content-center">
                    <span>No products to show. You have not added any products.</span>
                </div>
            }
            else
            {
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        @if (TempData["PublishedSuccess"] != null)
                        {
                            <div class="alert alert-warning m-3 fade show" role="alert" id="tempDataMessage">
                                @TempData["PublishedSuccess"]
                            </div>
                        }
                        @if (TempData["PublishedFailed"] != null)
                        {
                            <div class="alert alert-warning m-3 fade show" role="alert" id="tempDataMessage">
                                @TempData["PublishedFailed"]
                            </div>
                        }
                        @if (TempData["UnpublishedSuccess"] != null)
                        {
                            <div class="alert alert-warning text-danger m-3 fade show" role="alert" id="tempDataMessage">
                                @TempData["UnpublishedSuccess"]
                            </div>
                        }
                        @if (TempData["unpublishedFailed"] != null)
                        {
                            <div class="alert alert-warning text-danger m-3 fade show" role="alert" id="tempDataMessage">
                                @TempData["unpublishedFailed"]
                            </div>
                        }
                        <tr>
                            <th style="max-width:20px;">Sr. No.</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Inventory</th>
                            <th>Status</th>
                            <th>Actions</th>
                            <th></th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 10) // Add footer if there are more than 10 rows
                    {
                        <tfoot>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Inventory</th>
                                <th>Status</th>
                                <th>Actions</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    }
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@SrNo</td>
                                <td>
                                    <a title="View Product" class="nav-link text-truncate" asp-route-id="@item.ProductId" asp-controller="Product" asp-action="ProductDetails" style="max-width: 150px; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>
                                </td>
                                <td>₹ @Html.DisplayFor(modelItem => item.Price)</td>
                                <td title="@item.Description" class="text-truncate">@Html.DisplayFor(modelItem => item.Description)</td>                                
                                <td>@Html.DisplayFor(modelItem => item.Inventory)</td>
                                <td>
                                    @if (item.StatusValue == "Rejected")
                                    {
                                        <span class="text-danger px-2 py-1 rounded">@Html.DisplayFor(modelItem => item.StatusValue)</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">@Html.DisplayFor(modelItem => item.StatusValue)</span>
                                    }
                                </td>
                                <td>
                                    <div class="d-flex justify-content-around">
                                        <!-- Edit Button -->
                                        <form asp-action="EditProduct" asp-route-id="@item.ProductId" method="get">
                                            <button type="submit" class="btn btn-info btn-sm mx-1">Edit</button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    @if (item.StatusValue == "Approved")
                                    {
                                        if (item.IsPublished == false)
                                        {
                                            <!-- Publish Button -->
                                            <form asp-action="Publish" asp-route-id="@item.ProductId" method="post">
                                                <button type="submit" class="btn btn-success btn-sm mx-1">Publish</button>
                                            </form>
                                        }                                        
                                        else
                                        {
                                            <!-- Unpublish Button -->
                                            <form asp-action="Unpublish" asp-route-id="@item.ProductId" method="post">
                                                <button type="submit" class="btn btn-danger btn-sm mx-1">Unpublish</button>
                                            </form>
                                        }
                                    }
                                    else if (item.StatusId == 3)
                                    {
                                        <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#commentModal"
                                                data-comment="@item.CommentForRejecting">
                                            View Comment
                                        </button>
                                    }
                                </td>
                            </tr>
                            SrNo++; // Incrementing Serial Number
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->

<!-- Modal for Viewing Comment -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Rejection Comment</h5>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <p id="rejectionComment"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Attach an event listener to the modal to display the appropriate comment
    var commentModal = document.getElementById('commentModal');
    commentModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract the comment from data-* attributes
        var comment = button.getAttribute('data-comment');
        // Update the modal's content
        var modalBody = commentModal.querySelector('#rejectionComment');
        modalBody.textContent = comment;
    });
</script>