@{
    var products = (List<AmlaMarketPlace.Models.ViewModels.Product.ProductListViewModel>)ViewData["Products"];
    var totalProducts = (int)ViewData["TotalProducts"];
    var currentPage = (int)ViewData["CurrentPage"];
    var pageSize = (int)ViewData["PageSize"];
    var totalPages = (int)Math.Ceiling((double)totalProducts / pageSize);
    ViewData["Title"] = "ProductListing";
}

<div class="sub-layout-div">
    <div class="container">
        <div class="div-plp-heading">
            <h4></h4>
        </div>
        <div class="row">
            @foreach (var item in products)
            {
                <div class="col-md-2 mb-4">
                    <a class="product-item-anchor" asp-action="ProductDetails" asp-route-id="@item.ProductId">
                        <div class="card h-100">
                            <img src="@item.ImageLink" class="card-img-top" alt="@item.Name">
                            <div class="card-body">
                                <h5 class="card-title text-truncate" title="@item.Name">@item.Name</h5>
                                <p class="card-price">₹ @item.Price/-</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

        <!-- Show View More button if there are more than 8 products -->
        @* @if (totalProducts > 8)
        {
        <div title="Click to load more products." class="col-md-12 text-center view-more-btn ">
        <a href="@Url.Action("ProductListing", "Product")" class="btn btn-brand-color">View More</a>
        </div>
        } *@
        <div class="pagination text-center">
            @if (currentPage > 1)
            {
                <form method="get" style="display: inline;">
                    <input type="hidden" name="actionType" value="Previous" />
                    <button type="submit" class="btn btn-brand-color">Previous</button>
                </form>
            }

            <span>Page @currentPage of @totalPages</span>

            @if (currentPage < totalPages)
            {
                <form method="get" style="display: inline;">
                    <input type="hidden" name="actionType" value="Next" />
                    <button type="submit" class="btn btn-brand-color">Next</button>
                </form>
            }
        </div>
    </div>
</div>