@{
    var products = (List<AmlaMarketPlace.Models.ViewModels.Product.ProductListViewModel>)ViewData["Products"];
    var totalProducts = (int)ViewData["TotalProducts"];
    var currentPage = (int)ViewData["CurrentPage"];
    var pageSize = (int)ViewData["PageSize"];
    var totalPages = (int)Math.Ceiling((double)totalProducts / pageSize);
    ViewData["Title"] = "ProductListing";
}

<div class="sub-layout-div">
    <div class="container">
        <div class="div-plp-heading">
            <h4>Product Listing</h4>
        </div>
        <div class="row">
            @foreach (var item in products)
            {
                <div class="col-md-3 mb-4">                    
                    <a class="product-item-anchor" asp-action="ProductDetails" asp-route-id="@item.ProductId">
                        <div class="card h-100">
                            <img src="@item.ImageLink" class="card-img-top" alt="@item.Name">
                            <div class="card-body">
                                <h5 class="card-title text-truncate" title="@item.Name">@item.Name</h5>
                                <p class="card-price">₹ @item.Price/-</p>

                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

        <!-- Show View More button if there are more than 8 products -->
        <div class="pagination text-center">
            @if (currentPage > 1)
            {
                <a asp-action="ProductListing" asp-route-pageNumber="@(currentPage - 1)" asp-route-pageSize="@pageSize" class="btn btn-brand-color">Previous</a>
            }

            <span>Page @currentPage of @totalPages</span>

            @if (currentPage < totalPages)
            {
                <a asp-action="ProductListing" asp-route-pageNumber="@(currentPage + 1)" asp-route-pageSize="@pageSize" class="btn btn-brand-color">Next</a>
            }
        </div>
    </div>
</div>
