@model IEnumerable<AmlaMarketPlace.Models.ViewModels.Product.ProductListViewModel>

@{
    var products = (List<AmlaMarketPlace.Models.ViewModels.Product.ProductListViewModel>)ViewData["Products"];
    var totalProducts = (int)ViewData["TotalProducts"];
    ViewData["Title"] = "ProductListing";
}

<div class="sub-layout-div">
    <div class="container">
        <div class="div-plp-heading">
            <h4>Product Listing</h4>
        </div>
        <div class="row">
            @foreach (var item in products)
            {
                <div class="col-md-3 mb-4">
                    <a class="product-item-anchor" asp-action="Details" asp-route-id="@item.ProductId">
                        <div class="card h-100">
                            <img src="@item.ImageLink" class="card-img-top" alt="@item.Name">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @* <p class="card-text text-truncate">@item.Description</p> *@
                                <p class="card-price">₹ @item.Price/-</p>

                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

        <!-- Show View More button if there are more than 8 products -->
        @if (totalProducts > 8)
        {
            <div class="col-md-12 text-center view-more-btn ">
                <a href="@Url.Action("ProductListing", "Product")" class="btn btn-brand-color">View More</a>
            </div>
        }
    </div>
</div>
