<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmlaMarketPlace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/AmlaMarketPlace.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                @if (User.Identity.IsAuthenticated)
                {
                    <a title="Go to Product Catalog" class="" asp-area="" asp-controller="Product" asp-action="ProductListing">
                        <img class="img-fluid brand-logo" src="~/images/layoutimages/amla_marketplace.png" alt="Amla Marketplace Logo" />
                    </a>
                }
                else
                {
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="img-fluid brand-logo" src="~/images/layoutimages/amla_marketplace.png" alt="Amla Marketplace Logo" />
                    </a>
                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent;">
                    <span class="navbar-toggler-icon">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </button>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("user"))
                        {
                            <li class="nav-item">
                                <a title="Go to all product page" class="nav-link" asp-area="" asp-controller="Product" asp-action="ProductListing">Products</a>
                            </li>
                            <li class="nav-item">
                                <a title="Sell your products on Amla Marketplace." class="nav-link" asp-area="" asp-controller="Product" asp-action="AddProduct">Sell-here</a>
                            </li>
                            <li class="nav-item">
                                <a title="Check your profile details and more." class="nav-link" asp-area="" asp-controller="Profile" asp-action="Details">Profile</a>
                            </li>
                            <li class="nav-item d-flex align-items-center">
                                <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" class="d-inline">
                                    <button title="Log out." type="submit" class="btn btn-link nav-link px-2">
                                        Sign Out
                                    </button>
                                </form>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a title="Check your profile details and more." class="nav-link" asp-area="" asp-controller="Profile" asp-action="Details">Profile</a>
                            </li>
                            <li class="nav-item d-flex align-items-center">
                                <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" class="d-inline">
                                    <button title="Log out." type="submit" class="btn btn-link nav-link px-2">
                                        Sign Out
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">ABOUT</a>
                            </li>
                            @if (ViewData["Title"]?.ToString() != "Sign up")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="SignUp">SIGN UP</a>
                                </li>
                            }
                            @if (ViewData["Title"]?.ToString() != "Sign in")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="SignIn">SIGN IN</a>
                                </li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    @* Side panel starts *@

    <div class="main-div container">
        <div class="row">
            @if (User.Identity.IsAuthenticated && User.IsInRole("user") && ViewData["EnableUserSidePanel"]?.ToString() == "True")
            {
                <div class="col-md-2 sidebar">
                    <!-- Sidebar Content -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a asp-area="" asp-controller="Product" asp-action="AddProduct">Add Product</a>
                        </li>
                        <li class="list-group-item">
                            <a asp-area="" asp-controller="Product" asp-action="GetUserUploadedProductsList" asp-route-id="@Convert.ToInt32(User.FindFirst("UserId")?.Value)">Your Products</a>
                        </li>
                        <li class="list-group-item">
                            <a asp-area="" asp-controller="Product" asp-action="OrderHistory" asp-route-id="@Convert.ToInt32(User.FindFirst("UserId")?.Value)">Order History</a>
                        </li>
                    </ul>
                </div>
            }
            @* Admin side panel navigation *@
            else if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <div class="col-md-2 sidebar">
                    <!-- Sidebar Content -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a asp-area="" asp-controller="Admin" asp-action="GetAllUsersList">List of Users</a>
                        </li>
                        <li class="list-group-item">
                            <a asp-area="" asp-controller="Admin" asp-action="ProductsWaitingForApproval">Waiting for Approval</a>
                        </li>
                        <li class="list-group-item">
                            <a asp-area="" asp-controller="Admin" asp-action="GetAllProductsList">Published Products</a>
                        </li>
                        <li class="list-group-item">
                            <a asp-area="" asp-controller="Admin" asp-action="GetRejectedProducts">Rejected Products</a>
                        </li>
                    </ul>
                </div>
            }

            <div class="col">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    @* Side panel ends *@

    @* <div class="main-div container">
    <main role="main" class="">
    @RenderBody()
    </main>
    </div> *@

    <footer>
        <div class="container footer-div">
            <div class="footer-first-row">
                <div class="footer-first-row-individual-column">
                    <h6>Get to know us</h6>
                    <a class="footer-link" asp-area="" asp-controller="Home" asp-action="About">About us</a>
                    <a class="footer-link" asp-area="" asp-controller="Home" asp-action="#">-</a>
                    <a class="footer-link" asp-area="" asp-controller="Home" asp-action="#">-</a>
                </div>

                <div class="footer-first-row-individual-column">
                    <h6>Contact Us</h6>
                    <!-- Button that opens the default email client with the specified email -->
                    <div class="footer-icon-div">
                        <a href="#" class="btn btn-brand-color">
                            <ion-icon name="call-outline"></ion-icon> 1800 1080
                        </a>
                    </div>
                </div>

                <div class="footer-first-row-individual-column">
                    <h6>Sell on Amla Marketplace</h6>
                    <a class="footer-link" title="Sell your products on Amla Marketplace." asp-area="" asp-controller="Product" asp-action="AddProduct">Sell-here</a>
                </div>

                <div class="footer-vertical-line"></div>

                <div class="footer-first-row-individual-column registered-address-div">
                    <h6>Registered Address</h6>
                    <p>Plot No. 2, Ground Floor South Ambazari, Ranapratap Nagar, Nagpur, Maharashtra, India, 440022.</p>
                </div>
            </div>

            <div class="row footer-second-row">
                <span class="copyright-footer-text">
                    &copy; 2024 - Amla Marketplace -
                    <a class="privacy-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                        Privacy
                    </a>
                </span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* Script of ion icons *@
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
