@model AmlaMarketPlace.Models.ViewModels.Profile.ProfileDetailsViewModel

@{
    ViewData["Title"] = "User Detail";
}

<div class="container mt-4">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
    @($"{Model.FirstName} {Model.LastName}")
    </h1>

    <hr />

    <div class="row">
        <div class="col-md-6">

            @if (TempData["UserUpdatedSuccessfully"] != null)
            {
                <div class="alert alert-warning m-3 fade show" role="alert" id="tempDataMessage">
                    @TempData["UserUpdatedSuccessfully"]
                </div>
            }
            @if (TempData["UserUpdatedFailed"] != null)
            {
                <div class="alert alert-warning m-3 fade show" role="alert" id="tempDataMessage">
                    @TempData["UserUpdatedFailed"]
                </div>
            }            

            <dl class="row">
                <dt class="col-sm-4">Full Name</dt>
                <dd class="col-sm-8">
                    <span class=""> @Model.FirstName @Model.LastName </span>
                </dd>

                <dt class="col-sm-4">@Html.LabelFor(model => model.EmailAddress)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.EmailAddress)</dd>

                <dt class="col-sm-4">@Html.LabelFor(model => model.IsEmailVerified)</dt>
                <dd class="col-sm-8">
                    @if (Model.IsEmailVerified)
                    {
                        <span class="text-success">Yes</span>
                    }
                    else
                    {
                        <span class="text-warning">No</span>
                    }
                </dd>

                <dt class="col-sm-4">@Html.LabelFor(model => model.MobileNumber)</dt>
                <dd class="col-sm-8">                    
                    @if (!string.IsNullOrWhiteSpace(Model.MobileNumber))
                    {
                        <span>+91 - </span>

                        @Model.MobileNumber
                    }
                    else
                    {
                        <span class="text-danger">Not Provided</span>
                    }
                </dd>

            </dl>
        </div>
    </div>

    <div class="d-inline">
        @* <input type="submit" value="Edit" class="btn btn-primary" /> *@
        <a class="btn-primary p-2 text-decoration-none rounded" asp-asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.UserId">Edit</a>
    </div>
</div>