@model AmlaMarketPlace.Models.ViewModels.Admin.AdminDashBoardViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>    
</div>

<!-- Content Row -->
<div class="row">
    <!-- Total Products Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Products (ALL)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @Model.TotalProductsCount
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-boxes fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Users Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-controller="Admin" asp-action="GetAllUsersList" class="text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Users (ALL)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @Model.TotalUsersCount
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Active Users Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-controller="Admin" asp-action="GetActiveUsersList" class="text-decoration-none">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Active Users
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @Model.ActiveUsersCount
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Inactive Users Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-controller="Admin" asp-action="GetInactiveUsersList" class="text-decoration-none">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Inactive Users
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @Model.InactiveUsersCount
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-times fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Published Products Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-controller="Admin" asp-action="GetAllPublishedProducts" class="text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Published Products
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @Model.PublishedProductsCount
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-parachute-box fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Waiting for Approval Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-controller="Admin" asp-action="ProductsWaitingForApproval" class="text-decoration-none">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @Model.WaitingForApprovalProductsCount
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bolt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Approved Products Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-controller="Admin" asp-action="GetAllApprovedProducts" class="text-decoration-none">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Approved Products
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @Model.ApprovedProductsCount
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-thumbs-up fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    
    <!-- Rejected Products Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <a asp-controller="Admin" asp-action="GetRejectedProducts" class="text-decoration-none">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Rejected Products
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                @Model.RejectedProductsCount
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-thumbs-down fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
        
</div>
