@model IEnumerable<AmlaMarketPlace.Models.DTO.UserDTO>

@{
    ViewData["Title"] = "GetAllUsersList";
    int SRNO = 1;
}

<div class="all-Users-list-div">
    <div class="container">
        <div class="all-Users-list-div-heading">
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                        <th>@Html.DisplayNameFor(model => model.IsEmailVerified)</th>
                        <th>@Html.DisplayNameFor(model => model.MobileNumber)</th>
                        @* <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                        <th>@Html.DisplayNameFor(model => model.EditedOn)</th> *@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@SRNO</td>
                            @{
                                SRNO++;
                            }
                            <td>@($"{item.FirstName} {item.LastName}")</td>
                            <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                            <td>@(item.IsEmailVerified ? "Yes" : "No")</td>
                            <td>@(string.IsNullOrEmpty(item.MobileNumber) ? "-" : item.MobileNumber)</td>
                            @* <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                            <td>@Html.DisplayFor(modelItem => item.EditedOn)</td> *@
                            <td>
                                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>