@model IEnumerable<AmlaMarketPlace.Models.DTO.ProductDTO>

@{
    ViewData["Title"] = "Published Products";
    int SrNo = 1;
}

<!-- Begin Page Content -->
<!-- Page Heading -->

<!-- DataTables Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Published Products</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if (Model == null || !Model.Any()) // Check if the list is empty
            {
                <div class="alert alert-warning">
                    No products are waiting for approval.
                </div>
            }
            else
            {
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    @if (TempData["UnpublishedSuccess"] != null) // Check if the list is empty
                    {
                        <div class="alert alert-warning">
                            <p>@TempData["UnpublishedSuccess"]</p>
                        </div>
                    }
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Inventory</th>
                            <th>Action</th>
                    </tr>
                </thead>
                    @if (Model.Count() > 10)
                    {
                        <tfoot>
                            <tr>
                                <th style="max-width: 100px;">Sr. No.</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Inventory</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    }                    
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@SrNo</td>
                                <td>
                                    <a title="View Product" class="nav-link text-truncate" asp-area="" asp-route-id="@item.ProductId" asp-controller="Admin" asp-action="ProductDetails" style="max-width: 150px; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>
                                </td>

                                <td>₹ @Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.Inventory)</td>
                                <td>
                                    @if (item.StatusValue == "Approved")
                                    {
                                        <div class="d-flex">
                                            <form asp-action="Unpublish" asp-route-id="@item.ProductId" method="post">
                                                <button type="submit" class="btn btn-danger approve-reject-btn mx-2">Unpublish</button>
                                            </form>
                                        </div>
                                    }
                                </td>
                        </tr>
                            SrNo++; // Incrementing Serial Number
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->
