@model IEnumerable<AmlaMarketPlace.Models.DTO.ProductDTO>

@{
    ViewData["Title"] = "Rejected Products";
    int SrNo = 1;
}

<div class="all-Users-list-div">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Product Name</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        @* <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                        <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th> *@
                        <th>@Html.DisplayNameFor(model => model.Inventory)</th>
                        <th>@Html.DisplayNameFor(model => model.StatusValue)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@SrNo</td>
                            <td class="" title="@item.Name">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td class="">@Html.DisplayFor(modelItem => item.Description)</td>
                            @* <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                            <td>@Html.DisplayFor(modelItem => item.ModifiedOn)</td> *@
                            <td>@Html.DisplayFor(modelItem => item.Inventory)</td>
                            <td>@Html.DisplayFor(modelItem => item.StatusValue)</td>
                            @* <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                        </td> *@
                        </tr>
                        SrNo++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

